*{
  margin: 0;
  padding: 0;
}

/*navbar*/

.topnav {
    background-color: rgb(253, 248, 248);
    position: fixed;
    height:70px;
    width: 100vw;
    z-index: 6;
}
.topnav #myLinks { 
  background-image: url(./content/images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: right 0px bottom 130px;
  height:100vh;
  width: 100vw;
  top: 70px;
  background-color:  hsl(270, 9%, 17%);
  display: grid;
  justify-items: center;
  position: absolute;
  grid-template-rows: 60px 60px 60px 60px;
  padding-top: 60px;
  display: none;
}
.active {
  background-color:  hsl(270, 9%, 17%);
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: 'Roboto Flex', sans-serif;
  text-align: center;
  position: relative;
  width: fit-content;
  height: fit-content;
}
.active:last-child{
  padding: 16px 80px;
  border: whitesmoke solid 2px;
}
.icon {
  color: black;
  background-color: white;
  position: absolute;
  right: 20px;
  top: 15px;
  padding: 6px 8px;
  border: solid rgb(37, 36, 36) 1.5px;
}
.logo-link{
  position: absolute;
  top: 25px;
  left: 8%;
}

/*welcome section*/

.intro-img-laptop{
  display: none;
}
.hr-wel{
  display: none;
}
.intro-img-mobile{
  width: 100vw;
  padding-top: 70px;
  display: block;
  overflow: hidden;
}
.intro-main{
  background-color: hsl(256, 26%, 20%);
  display: grid;
  justify-items: center;
}
.intro-heading{
  font-size: 42px;
  font-weight: 700;
  font-family: 'DM Serif Display', serif;
  color: aliceblue;
  text-align: center;
  padding-top: 90px;
  line-height: 50px;
}
.intro-text{
  font-size: 14px;
  font-family: 'Karla', sans-serif;
  text-align: center;
  padding-top: 15px;
  line-height: 28px;
  color: aliceblue;
  width:275px ;
}
.intro-link{
  text-decoration: none;
  margin: 30px 0px 90px 0px;
  padding: 10px 22px;
  border: whitesmoke solid 2px;
  color: aliceblue;
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;

}
.bg-pattern-intro-right-desktop{
  display: none;
}
.bg-pattern-intro-left-desktop{
  display: none;
}
.bg-ptrn-intro-left{
  position: absolute;
  z-index: 3;
  left: 0;
}
.bg-ptrn-intro-right{
  position: absolute;
  z-index: 2;
  right: 0px;
  transform: translateY(-150px);
}

/*features sections*/

.main-feature{
  background-color: aliceblue;
  padding-top: 140px;
  position: relative;
  display: grid ;
  justify-items: center;
}
.hr{
  width: 50%;
  margin-bottom: 30px;
  justify-self:center ;
}
.feature-heading{
  font-size: 46px;
  font-weight: 700;
  font-family: 'DM Serif Display', serif;
  
}
.card{
  display: grid;
  justify-items: center;
  margin-top: 70px;
}
.card-icon{
  margin-bottom: 40px;
}
.card-heading{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.card-text{
  width: 290px;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: hsl(273, 4%, 51%);
}

/*how we work sections*/

.main-hww{
  background-color: aliceblue;
  padding: 150px 25px 120px 25px;
}
.how-we-work-bg{
  background-color: hsl(256, 26%, 20%);
  background-image: url(./content/images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  display: grid;
  justify-items: center;

}
.hww-heading{
  width: 280px;
  padding-top: 70px;
  text-align: center;
  color: aliceblue;
  margin: 0%;
  font-size: 42px;
  font-weight: 700;
  font-family: 'DM Serif Display', serif;
}
.hww-link{
  text-decoration: none;
  width: fit-content;
  margin: 30px 0px 60px 0px;
  padding: 10px 22px;
  border: whitesmoke solid 2px;
  color: aliceblue;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

/*contact section*/

.main-contact{
  background-image: url(./content/images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(0, 0%, 98%);
  display: grid;
  justify-items:center ;
}
.brand-logo{
  display: block;
  margin-top: 90px;
}
.contact-icon-main{
  margin: 40px 0px;
}
.contact-icon-link{
  margin: 30px 10px 30px 10px;
}

/*footer section*/

.footer-main{
  background-color: hsl(0, 0%, 98%);
  display: grid;
  justify-items: center;
}
.footer-hr{
  width: 320px;
}
.footer-link-1{
  color: hsl(273, 4%, 51%);
  text-decoration: none;
  width: fit-content;
  margin: 40px 0px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: 'Karla', sans-serif;
  font-size: 12px;
}
.footer-link-2{
  text-decoration: none;
  width: fit-content;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  margin: 8px 0px;
  color: hsl(256, 26%, 20%);
}
.footer-link-2:last-child{
  margin-bottom: 80px;
}

/*tablet screen*/

@media (min-width:600px){
  /*nav*/
  .topnav #myLinks{
    background-size:100%;
  }
  .main-contact{
    background-size: cover;
  }
  .icon{
    margin-right: 50px;
  }
}

/*mini desktop screen*/

@media (min-width:770px){
  /*nav section*/

  .topnav{
    position: relative;
  }
  .topnav #myLinks{
    display: inline-block;
    background-color: rgb(253, 248, 248);
    height: 70px;
    background-image: none;
    top: 0%;
    padding: 0%;
    position: absolute;
    margin-left: 45%;
    display: grid;
    grid-template-rows: none;
    grid-template-columns: max-content max-content max-content max-content;
    align-self: center;
  }
  .active{
    background-color: rgb(253, 248, 248);
    color: hsl(273, 4%, 51%);
    font-size: 10px;
    font-weight: 700;
    margin: auto 20px;
    
  }
  .active:last-child{
    padding: 10px 25px;
    border: 2px solid hsl(270, 9%, 17%);
    color: hsl(270, 9%, 17%);
  }
  .icon{
    display: none;
  }

  /*welcome section*/

  .intro-img-mobile{
    display: none;
  }
  .intro-img-laptop{
    display: block;
    position: absolute;
    right: 100px;
    top: 250px;
    z-index: 4;
    height: 550px;
    width: auto;
  }
  .hr-wel{
    display: block;
    width: 50%;
    margin-top: 135px;
    color: aliceblue;
    justify-self:start ;
  }
  .intro-main{
    justify-content: left;
    padding-left: 80px;
  }
  .bg-ptrn-intro-left{
    display: none;
  }
  .bg-ptrn-intro-right{
    display: none;
  }
  .bg-pattern-intro-right-desktop{
    position: absolute;
    display: block;
    z-index: 5;
    right: 0;
    top: 0;
  }
  .bg-pattern-intro-left-desktop{
    display: block;
    position: absolute;
    z-index: 5;
    left: 0;
    transform: translateY(-170px);

  }
  .intro-heading{
    text-align: left;
  }
  .intro-text{
    text-align: left;
  }
  .intro-link{
    justify-self: start;
  }

  /*features sections*/

  .main-feature{
    padding-top: 240px;
  }
  .card-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card{
    margin:70px 10px 0px;
  }
  .hr{
    justify-self: start;
    margin-left: 85px;
    width: 25%;
  }
  .feature-heading{
    justify-self: start;
    margin-left: 85px;
  }
  .card-text{
    height: 120px;
    text-align: center;
    
  }
}