*{
    margin: 0;
}
.topnav {
    background-color: rgb(253, 248, 248);
    position: absolute;
    height:70px;
    width: 100vw;
    position: fixed;
  }
  .topnav #myLinks {
     
    height:100vh;
    background-color:  hsl(270, 9%, 17%);
    top: 70px;
    position: relative;
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 1fr;
    align-items: center;
    justify-items: center;
    padding-top: 30px;
    display: none;
  }
  .icon {
    color: black;
    background-color: white;
    position: absolute;
    right: 20px;
    top: 15px;
    padding: 6px 8px;
    border: solid rgb(37, 36, 36) 1.5px;
  }
  .active:hover {
    border: whitesmoke solid 2px;
  }
  .active {
    background-color:  hsl(270, 9%, 17%);
    color: white;
    width: 85vw;
    height: 6vh;
    margin: 0px 20px;
    font-size: 20px;
    font-family: 'Roboto Flex', sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    position: relative;
    display: grid;
    align-items: center;
  }
  .logo-link{
    position: absolute;
    top: 25px;
    left: 8%;
  }
  .mbl-nav-svg{
    width: 100vw;
    height: 60%;
  }